@import controllers.actions.UserRequest
@(album: Album, owner: User, imgList: List[(Image, String)])(implicit request: UserRequest[_])

    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.UsersController.deleteImageRoute,
        routes.javascript.UsersController.viewAlbum
    )

    <script type="text/javascript">
            function deleteImage(albumId, imageId) {
                $.ajax({
                    url: jsRoutes.controllers.UsersController.deleteImageRoute(`${albumId}/${imageId}/delete`).url,
                    method: "DELETE",
                    headers: {
                        "Csrf-Token": "@helper.CSRF.getToken.value"
                    },
                    success: function () {
                        console.log("SUCCESS")
                        window.location = jsRoutes.controllers.UsersController.viewAlbum(albumId).url;
                    },
                    error: function () {
                        console.log("ERROR")
                        window.location.reload();
                    }
                });
            }
    </script>
    <div class="card is-full">
        <div class="card-header">
            <div class="card-header-title">
                <h1 class="title">
                @album.name
                </h1>
            </div>
        </div>
        <div class="card-content">
        @album.description
        </div>
        <div class="card-footer">
            <div class="card-footer-item">
              <a href="@routes.UsersController.showUploadImagePageRoute(s"${album.id.getOrElse(-1)}/upload")">Upload Image</a>
            </div>
            <div class="card-footer-item">
                <form id="delete" action="@routes.UsersController.deleteAlbum(album.id.getOrElse(-1))" method="post">
                    @helper.CSRF.formField
                <a href="javascript:;" onclick="document.getElementById('delete').submit();">Delete Album</a>
                </form>
            </div>
            <div class="card-footer-item">
          Back to &nbsp;
                <a href="@routes.UsersController.showUser(owner.username)"> @owner.username's page</a>
            </div>
        </div>
    </div>

    @request.flash.data.map {
        case ("success", value) => {
            <div class="help is-success">@value</div>
        }
        case (_, value) => {
            <div class="help is-danger">@value</div>
        }
    }
    <br></br>
  <div class="columns is-multiline">
      @if(imgList.isEmpty) {
          This album is empty.
      } else {
          @imgList.map {
              case (img, base64) => {
                  @image(img, base64, album)
              }
          }
      }
  </div>

