@(form: Form[_], postUrl: Call, title: String)(formBody: Html)(implicit request: MessagesRequestHeader)

@main("Sign Up") {
    <section class="section is-primary is-fullheight">
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <h1 class="title">@title</h1>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="card">
                        <div class="card-content">
                            @request.flash.data.map {
                                case ("success", value) => {<div class="help is-success">@value</div>}
                                case (_, value) => {<div class="help is-danger">@value</div>}
                            }
                            @formBody
                            @* Global errors are not tied to any particular form field *@
                            @if(form.hasGlobalErrors) {
                                @form.globalErrors.map { error: FormError =>
                                    <div class="help is-danger">
                                        @error.message
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}