@()(implicit request: Request[AnyContent])

@main("404: Not Found") {
    <section class="section is-primary is-fullheight">
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <h1 class="title">Oops! This page doesn't seem to exist :(</h1>
                       @request match {
                           case UserRequest(username, _) => {<a href="@routes.UsersController.showUser(username)">Go Home</a>}
                           case _ => {<a href="@routes.SignInController.showSignInPage">Sign In</a>}
                       }
                </div>
            </div>
        </div>
    </section>
}
