@import controllers.forms.SignUpForm.UserSignUpData
@import views.formFieldTemplates.FormFieldTemplate._

@(form: Form[UserSignUpData], postUrl: Call)(implicit request: Request[_], messagesProvider: MessagesProvider)

@centeredForm(form, postUrl, "Sign Up") {
    @helper.form(postUrl, args = Symbol("class") -> "form is-centered") {
        @helper.CSRF.formField
        @helper.inputText(form("Username"), args = Symbol("placeholder") -> "Username")
        @helper.inputText(form("Name"), args = Symbol("placeholder") -> "Your Name")
        @helper.inputPassword(form("Password"))
        @helper.inputPassword(form("Confirm Password"))

        <div class="field">
            <div class="control">
                <button class="button is-link">Sign Up</button>
            </div>
        </div>

        <div class="control">
            Already have an account? <a href="@routes.SignInController.showSignInPage">Sign In</a>
        </div>
    }
}
