@import controllers.actions.UserRequest
@(body: Html)(implicit
        request: UserRequest[_],
        searchUserForm: Form[String] = controllers.forms.SearchUserForm.searchUserForm,
)

@main() {
    <section class="section is-primary is-fullheight">
        <div class="columns">
            <div class="column is-3 has-text-left">
                <div class="card has-background-info-light">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="@routes.Assets.versioned("images/clouds.jpeg")" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="@routes.Assets.versioned("images/generic-user.jpg")" alt="">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">@request.user.name</p>
                                <p class="subtitle">
                                    <a href="@routes.UsersController.showUser(request.user.username)">
                                    @@@request.user.username
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="menu">
                            <ul class="menu-list">
                                <li style="margin: 10px 0">
                                    <form method="GET" action="/search">
                                        <label for="username">
                                            <input class="input" name="username" id="username" placeholder="Search Username">
                                        </label>
                                    </form>
                                </li>
                                <li>
                                    <a class="button" href="@routes.UsersController.showAddAlbumPage">Add an Album</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <form id="logout" action="@routes.UsersController.logout" method="post">
                                @helper.CSRF.formField
                                <a href="javascript:;" onclick="document.getElementById('logout').submit();">Log Out</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column has-background-light">
            @body
            </div>
        </div>
    </section>
}